<nav class="navbar navbar-expand-lg navbar-dark sticky-top navnegro">
        <a class="navbar-brand" href="#">
            <img src="/assets/vinimini.png" width="100px" height="70px" class="d-inline-block align-top" alt="">
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/barberos">Barberos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin">Sesion Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reviews" >Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contacto">Contacto</a>
            </li>
        </ul>
            <ul class="navbar-nav ml-auto">
            {{#if loggedIn}}
            <div class="badge badge-primary text-wrap" style="width: 6rem;">
            {{nombre_usuario}}
            </div>
            
            {{else}}  
               <li class="nav-item">
              <a class="nav-link" href="/login">Ingresar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Registrarse</a>
            </li>
            
               {{/if}}
          </ul>
        </div>
      </nav>  
<br>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-6">
            <form action="/admin/altabarber" method="post" enctype="multipart/form-data">
                <label for="nombre">Nombre</label>
                      <div type="text"   class="form-group"><input name="nombre" placeholder="Barber" type="text" class="form-control"></div>
                <label for="nombre">Descripcion</label>  
                      <textarea name="descripcion" class="form-control" placeholder="Descripcion..."></textarea>      
                 <button type="submit" class="btn btn-success btn-block">Agregar</button>                  
                <input type="file" name="imagen">                            
           
            </form>
        </div>
    </div>
</div>