<div class="contariner">
    <div class="row">
        <div class="col-8">
            <h5 class="text-center">Subi tu imagen</h5>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="imagen">
                <button type="submit" class="btn btn-primary">Subir</button>                
            </form>
        </div>
    </div>
</div>